@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
}
/* common styles or utilities */
body {
    background: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 870px;
}
/* header styles */

/* top players styles */
.top {
    background: #fff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.top h2 {
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 40px;
}
.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 30px;
}
hr {
    color: #D1D1D1;
    margin-bottom: 30px;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.player {
    display: flex;
    align-items: center;
}
.player h3 {
    font-size: 1.125rem;
}
.player img {
    width: 56px;
    margin-right: 10px;
}


/* top-blogs styles */


.top-blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 30px;
}
.top-blogs article {
    display: flex;
    align-items: center;
}
.top-blogs article .thumbnail img{
    width: 177px;
    margin-right: 16px;
}
.top-blogs article .blog-details h2 {
    color: #000;
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 34px;
}
.top-blogs article .blog-details p {
    color: #9F9F9F;
}
.top-blogs article .blog-details p a {
    color: #562EFF;
    text-decoration: none;
}

/* latest courses styles */


.bottom {
    padding: 30px;
    background: #fff;
    border-radius: 10px;
}
.bottom h2 {
    color: rgb(86, 46, 255);
    font-size: 24px;
    margin-bottom: 40px;
}
.courses {
    display: flex;
    justify-content: space-between;
}
.courses article {
    width: 275px;
    box-shadow: rgb(218, 218, 218) 0px 0px 20px;
    border-radius: 10px;
    padding: 13px;
    box-sizing: border-box;
}
.courses article h3 {
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
}
.courses article img {
    width: 247px;
    margin-bottom: 20px;
}
.courses article h6 {
    color: #ED6B4F;
    margin-bottom: 20px;
}
.course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating {}
.rating p span {
    color: #A2A2A2;
}
.rating p {
    color: #FFC014;
}
.length {
    background: #FEE5DF;
    padding: 1px 6px;
    border-radius: 20px;
}
.length p {
    color: #ED6B4F;
}

/* ---------------------------------------------------------Media Queries--------------------------------------------------------- */

/* --------------------
        Smartphones
-------------------- */

@media only screen and (max-width:480px) {
    .container {
        width: 100%;
    }
    .top h2 {
        text-align: center;
    }
    .top-players, .top-blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        justify-content: center;
    }
    .top-blogs article {
        width: 100%;
        flex-direction: column;
    }
    .blog-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom h2 {
        text-align: center;
    }
    .courses {
        flex-direction: column;
        align-items: center;
    }
    .courses article {
        margin-bottom: 20px;
    }
}

/* -------------
      Tablets
----------------- */

@media only screen and (min-width:481px) and (max-width:820px) {
    .container {
        width: 100%;
        /* padding: 30px; */
    }
    .top h2 {
        text-align: center;
    }
    .top-players, .top-blogs {
        grid-template-columns: repeat(2, 1fr);
    }
    .player{
        justify-content: center;
    }
    .top-blogs article {
        width: 100%;
        flex-direction: column;
    }
    .blog-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom h2 {
        text-align: center;
    }
    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 65px;
    }
    .courses article {
        margin-bottom: 20px;
    }
}